body {
  font-family: "Iosevka Aile Web";
  overflow-wrap: break-word;
}

code, pre {
  font-family: "Iosevka Web" !important;
}

@font-face {
  font-family: 'Iosevka Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('../fonts/iosevka-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Aile Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('../fonts/iosevka-aile-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Aile Web';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url('../fonts/iosevka-aile-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Aile Web';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url('../fonts/iosevka-aile-bold.woff2') format('woff2');
}
